<h1 mat-dialog-title>Utwórz wydarzenie</h1>
<form>
        <div class="form-group">
          <mat-form-field class="example-full-width" style="width: 100%">            
            <input matInput [formControl]="eventNameFormControl" [errorStateMatcher]="matcherEventName" style="width: 350px" placeholder="Podaj nazwę wydarzenia"/>
            <mat-error *ngIf="eventNameFormControl.hasError('required')">
                Nazwa wydarzenia jest <strong>wymagana</strong>!
            </mat-error>
        </mat-form-field>
        </div>
      
        <div class="form-group">
          <mat-form-field style="width: 100%">
            <input matInput [matDatepicker]="picker" [formControl]="beginDateFormControl" [errorStateMatcher]="matcherBeginDate" placeholder="Podaj datę rozpoczęcia wydarzenia">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="beginDateFormControl.hasError('required')">
              Data rozpoczęcia wydarzenia jest <strong>wymagana</strong>!
          </mat-error>
          </mat-form-field>
        </div>
      
        <div class="form-group">
            <mat-form-field style="width: 100%">
              <input matInput [matDatepicker]="picker2" [formControl]="endDateFormControl" [errorStateMatcher]="matcherEndDate" placeholder="Podaj datę zakończenia wydarzenia">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error *ngIf="endDateFormControl.hasError('required')">
                Data zakończenia wydarzenia jest <strong>wymagana</strong>!
            </mat-error>
            </mat-form-field>
          </div>
      
    
        <div class="form-group">
          <mat-form-field style="width: 100%">
          <mat-select [formControl]="selectedDisciplineFormControl" [errorStateMatcher]="matcherSelectedDiscipline" style="width: 100%" placeholder="Wybierz dyscyplinę">
            <mat-option *ngFor="let type of types" [value]="type" >{{type.discipline}}</mat-option>
          </mat-select>
          <mat-error *ngIf="selectedDisciplineFormControl.hasError('required')">
              Wybranie dyscypliny jest <strong>wymagane</strong>!
          </mat-error>
        </mat-form-field>
          
        </div>
      
        
        <div class="form-group" >
          <mat-form-field style="width: 100%">
          <mat-select multiple [formControl]="selectedMembersFormControl" [errorStateMatcher]="matcherSelectedMembers" style="width: 100%" placeholder="Wybierz drużyny lub uczestników">
            <mat-option *ngFor="let member of members" [value]="member">{{member.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="selectedMembersFormControl.hasError('required')">
              Wybranie drużyny lub uczestników jest <strong>wymagane</strong>!
          </mat-error>
        </mat-form-field>
        </div>
              
        <button type="button" class="btn btn-success btn-lg btn-block btn-sm" (click)="addEvent()">Zapisz zmiany</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block btn-sm" (click)="onCancelClick()">Anuluj</button>

</form>