<h1 mat-dialog-title>Edycja wydarzenia</h1>
<form>
  <mat-form-field class="example-full-width" style="width: 100%">  
    <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcherName" style="width: 100%" placeholder="Nazwa wydarzenia"/>
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Nazwa jest <strong>wymagana</strong>!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" style="width: 100%">
    <input matInput [matDatepicker]="picker1" [formControl]="beginDateFormControl" [errorStateMatcher]="matcherBeginDate" style="width: 100%" placeholder="Data rozpoczęcia">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    <mat-error *ngIf="beginDateFormControl.hasError('required')">
      Data rozpoczęcia jest <strong>wymagana</strong> w poprawnym formacie!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" style="width: 100%">
    <input matInput [matDatepicker]="picker2" [formControl]="endDateFormControl" [errorStateMatcher]="matcherEndDate" style="width: 100%" placeholder="Data zakończenia">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
    <mat-error *ngIf="endDateFormControl.hasError('required')">
      Data zakończenia jest <strong>wymagana</strong>w poprawnym formacie!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" style="width: 100%">            
    <mat-select matSelect [formControl]="disciplineFormControl" [errorStateMatcher]="matcherDiscipline" style="width: 100%" placeholder="Dyscyplina">
        <mat-option *ngFor="let type of types" [value]="type.id">{{type.discipline}}</mat-option>
    </mat-select>
    <mat-error *ngIf="disciplineFormControl.hasError('required')">
        Dyscyplina jest <strong>wymagana</strong>!
    </mat-error>
  </mat-form-field>
  
  <mat-form-field class="example-full-width" style="width: 100%">            
    <mat-select matSelect multiple [formControl]="membersFormControl" [errorStateMatcher]="matcherMembers" style="width: 100%" placeholder="Drużyny lub uczestnicy biorący udział w wydarzeniu"> 
      <mat-option *ngFor="let member of members" [value]="member.id">{{member.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="membersFormControl.hasError('required')">
        Wybór druzyn biorących udzial w wydarzeniu jest <strong>wymagany</strong>!
    </mat-error>
  </mat-form-field>

  <button *ngIf=!event.active type="button" class="btn btn-warning btn-lg btn-block btn-sm" (click)="editEvent(0); resolveEventModal(event)">Zakończ wydarzenie i rozstrzygnij zakłady</button>
  <button *ngIf=event.active disabled type="button" class="btn btn-warning btn-lg btn-block btn-sm" (click)="editEvent(0); resolveEventModal(event)">Zakończ wydarzenie i rozstrzygnij zakłady</button>
  <button type="button" class="btn btn-success btn-lg btn-block btn-sm" (click)="editEvent(1)">Zapisz zmiany</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block btn-sm" (click)="onCancelClick()">Anuluj</button>
</form>
