.mt-4 {
  margin-top: 5 !important;
  margin-left: 25px;
}

table{
  margin-top: 20px;
  margin-bottom: 50px;
}

.form-group{
  margin-top: 10px;
}
.form-check{
  margin-bottom: 25px;

}

.expansionpanel {
  margin-top: 10px;
}

.button {
  margin-top: 10px;
}

.matBtn {
  width: 100%;
  margin-top: 40px;
  background-color: green;
  color: white;
}

.btn {
  width: 100%;
  margin-top: 20px;
}

.userListTable {
    width: 100%;
}