<form>
  <div class="form-group">
    <label for="eventName">Nazwa wydarzenia</label>
    <input type="tet" class="form-control" id="eventName" placeholder="Wprowadź nazwę wydarzenia">
  </div>

  <div class="form-group">
    <label for="beginDate">Data rozpoczęcia</label>
    <input type="date" class="form-control" id="beginDate" placeholder="Wprowad datę rozpoczęcia">
  </div>

  <div class="form-group">
    <label for="endDate">Data zakończenia</label>
    <input type="date" class="form-control" id="endDate" placeholder="Wprowad datę zakończenia">
  </div>

  <p>Dyscyplina</p>
  <div class="form-group">
    <mat-select placeholder="Dyscyplina" multiple>
      <mat-option *ngFor="let type of types" [value]="type">{{type.discipline}}</mat-option>
    </mat-select>
  </div>

  

  <p>Status wydarzenia</p>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="active" id="option1" value="true" checked>
    <label class="form-check-label" for="option1">
      Aktywne wydarzenie
    </label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="active" id="option2" value="false">
    <label class="form-check-label" for="optnion2">
      Nieaktywne wydarzenie
    </label>
  </div>

  <p>Zwycięzca wydarzenia</p>
  <div class="form-group">
    <mat-select placeholder="Zwycięzca" multiple>
      <mat-option *ngFor="let member of members" [value]="member">{{member.name}}</mat-option>
    </mat-select>
  </div>


</form>