<div class="row mt-4">
  <div class="col-sm">
    <nav><a class="btn btn-lg btn-dark active" role="button" aria-pressed="true">Wydarzenia</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-teams" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Drużyny</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-players" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Zawodnicy</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-discipline" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Dyscypliny</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-users" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Użytkownicy</a></nav>
  </div>
</div>

<button mat-button class="matBtn" (click)="openCreateDialog()">Dodaj nowe wydarzenie</button>

<table width="100%">
<tr *ngFor="let event of events">
  <td width="90%">
    <mat-accordion>
      <mat-expansion-panel class="expansionpanel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>{{event.name}}</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <b>Data rozpoczęcia wydarzenia:</b> {{event.beginDate | date: "dd.MM.yyyy"}} <br>
        <b>Data zakończenia wydarzenia:</b> {{event.endDate | date: "dd.MM.yyyy"}} <br>
        <b>Dyscyplina:</b> {{event.type.discipline}} <br>
        <b>Drużyny biorące udział w wydarzeniu:</b>
        <ul>
          <li *ngFor="let member of event.members">{{member.name}}<br></li>
        </ul>
        <b>Wydarzenie jest aktywne: </b>{{event.active}}<br>
        <b>Zwycięzca: </b>{{event.winner}}<br>
        <b>Wynik: </b>{{event.score}}<br>
        <button type="button" class="btn btn-info btn-sm" *ngIf="event.winner != null" (click)="openUserListDialog(event)">Lista zwycięzców</button>
      </mat-expansion-panel>
    </mat-accordion>
  </td>
  <td>
    <button *ngIf="event.winner == null" class="button" type="button" mat-raised-button color="primary" (click)="openEditDialog(event)">Edytuj</button>
    <button *ngIf="event.winner != null" disabled class="button" type="button" mat-raised-button color="primary" (click)="openEditDialog(event)">Edytuj</button>
  </td>
  <td><button class="button" type="button" mat-raised-button color="warn" (click)="openDeleteObjectDialog(event, 2)">Usuń</button></td>
</tr>
</table>
