<div class="button-row">
  <a mat-button class="navigationPanel" routerLink="/edit-events" routerLinkActive="mat-accent">Wydarzenia</a>
  <a mat-button class="navigationPanel" routerLink="/edit-teams">Drużyny</a>
  <a mat-button class="navigationPanel" routerLink="/edit-players">Zawodnicy</a>
  <a mat-button class="navigationPanel" routerLink="/edit-discipline">Dyscypliny</a>
  <a mat-button class="navigationPanel" routerLink="/edit-users">Użytkownicy</a>
</div>

<button mat-raised-button class="addBtn" (click)="openUpdateEventDialog(null, 0)">Dodaj nowe wydarzenie</button>

<form [formGroup]="filterForm">
  <table class="filterTable" width="100%">
    <b><label>Filtry:</label></b>
    <tr>
      <th class="notBold">Status:</th>
      <th class="notBold">Dyscyplina:</th>
    </tr>
    <tr>
      <td>
        <mat-select class="filterSelect" formControlName="chosenStatus">
          <mat-option value="Wszystkie">Wszystkie</mat-option>
          <mat-option value="Aktywne">Aktywne</mat-option>
          <mat-option value="Zakończone">Zakończone</mat-option>
          <mat-option value="Roztrzygnij">Roztrzygnij</mat-option>
        </mat-select>
      </td>
      <td>
        <mat-select class="filterSelect" formControlName="chosenDiscipline">
          <mat-option value="Wszystkie">Wszystkie</mat-option>
          <mat-option *ngFor="let type of types" [value]="type.discipline">{{type.discipline}}</mat-option>
        </mat-select>
      </td>
    </tr>
  </table>
</form>

<table width="100%">
  <tr *ngIf="empty">
    <td>
      <mat-accordion>
        <mat-expansion-panel [disabled]="true" class="expansionpanel">
          <mat-expansion-panel-header class="right-aligned-header">
            <mat-panel-title>
              <b class="emptyEvents">Brak wydarzeń</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </td>
  </tr>
  <tr *ngFor="let event of events">
    <td width="90%">
      <mat-accordion>
        <div class="list">
          <div class="editButtons">
              <button mat-icon-button class="editButton" *ngIf="event.winner == null" (click)="openUpdateEventDialog(event, 1)">
                  <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="editButton" *ngIf="event.winner != null" disabled>
                  <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="editButton" (click)="openDeleteObjectDialog(event, 2)">
                  <mat-icon>delete</mat-icon>
              </button>
          </div>
          <div class="panel">
            <mat-expansion-panel class="expansionpanel" >
              <mat-expansion-panel-header class="right-aligned-header" >
                <mat-panel-title>
                  <b>{{event.name}}</b>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <b>Data rozpoczęcia wydarzenia:</b> {{event.beginDate | date: "dd.MM.yyyy"}} <br>
              <b>Data zakończenia wydarzenia:</b> {{event.endDate | date: "dd.MM.yyyy"}} <br>
              <b>Dyscyplina:</b> {{event.type.discipline}} <br>
              <b>Drużyny biorące udział w wydarzeniu:</b>
              <ul>
                <li *ngFor="let member of event.members">{{member.name}}<br></li>
              </ul>
              <b>Wydarzenie jest aktywne: </b>{{event.active}}<br>
              <div *ngIf="event.winner != null">
                <b>Zwycięzca: </b>{{event.winner}}<br>
                <div *ngIf="event.type.result"><b>Wynik: </b>{{event.score}}<br></div>
              </div>
              <button mat-raised-button class="winnersBtn" *ngIf="event.winner != null" (click)="openUserListDialog(event)">Lista zwycięzców</button>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-accordion>
    </td>
  </tr>
</table>
