<div mat-dialog-content>
    <h6 mat-dialog-title>Szczegóły dotyczące wybranego wydarzenia:</h6>
    <section>
        <b>Nazwa wydarzenia:</b> {{event.name}} <br>
        <b>Dyscyplina:</b> {{event.type.discipline}} <br>
        <b>Data rozpoczęcia wydarzenia:</b> {{event.beginDate | date: "dd.MM.yyyy"}} <br>
        <b>Data zakończenia wydarzenia:</b> {{event.endDate | date: "dd.MM.yyyy"}} <br>
        <b>Uczestnicy biorący udział w wydarzeniu:</b>
        <ul>
            <li *ngFor="let member of event.members">{{member.name}}<br></li>
        </ul>
        <div><font size="2" color="red">
            (Zmiany dotyczące wydarzenia dokonane tuż przed otwarciem tego okna mogą nie zostać poprawnie tutaj wyświetlone
            lecz zostaną zapisane do bazy danych po rozstrzygnięciu tego wydarzenia)
        </font></div>
    </section>
    <h6 mat-dialog-title>Podaj wynik powyższego wydarzenia:</h6>
    <form>          
        <mat-form-field class="example-full-width" style="width: 400px">            
            <mat-select matSelect [formControl]="memberFormControl" [errorStateMatcher]="matcherMember" style="width: 400px" placeholder="Wybierz zwycięzce wydarzenia.">
                <mat-option *ngFor="let member of event.members" [value]="member.name">{{member.name}}</mat-option>
                <mat-option [value]=-1>Remis</mat-option>
            </mat-select>
            <mat-error *ngIf="memberFormControl.hasError('required')">
                Zwycięzca jest <strong>wymagany</strong>!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 400px">  
            <input matInput [formControl]="resultFormControl" [errorStateMatcher]="matcherResult" style="width: 350px" placeholder="Podaj dokladny resultat wydarzenia."/>
            <mat-error *ngIf="resultFormControl.hasError('pattern') && !resultFormControl.hasError('required')">
                Proszę wpisać <strong>poprawny</strong> format rezultatu!
            </mat-error>
            <mat-error *ngIf="resultFormControl.hasError('required')">
                Rezultat jest <strong>wymagany</strong>!
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button type="button" class="btn btn-success btn-lg btn-block btn-sm" (click)="onResolveClick()">Zakończ i rozstrzygnij</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block btn-sm" (click)="onCancelClick()">Anuluj</button>
</div>