<div mat-dialog-content>

        <h6 mat-dialog-title>Szczegóły dotyczące wydarzenia:</h6>
    
        <section>
            <b>Nazwa wydarzenia:</b> {{event.name}} <br>
            <b>Dyscyplina:</b> {{event.type.discipline}} <br>
            <b>Data rozpoczęcia wydarzenia:</b> {{event.beginDate | date: "dd.MM.yyyy"}} <br>
            <b>Data zakończenia wydarzenia:</b> {{event.endDate | date: "dd.MM.yyyy"}} <br>
            <b>Uczestnicy biorący udział w wydarzeniu:</b>
            <ul>
                <li *ngFor="let member of event.members">{{member.name}}<br></li>
            </ul>       
        </section>
    
        <h6 mat-dialog-title>Szczegóły dotyczące zakładu:</h6>
    
        <form [formGroup]="betForm" [ngSwitch]="flag">
    
            <mat-form-field class="example-full-width" style="width: 400px">            
                <input matInput formControlName="amount" style="width: 350px" placeholder="Podaj kwotę, na którą chcesz postawić zakład."/>
                <mat-error *ngIf="betForm.get('amount').hasError('pattern') && !betForm.get('amount').hasError('required')">
                    Proszę wpisać <strong>poprawną</strong> kwotę!
                </mat-error>
                <mat-error *ngIf="betForm.get('amount').hasError('required')">
                    Kwota jest <strong>wymagana</strong>!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field class="example-full-width" style="width: 400px">            
                <mat-select matSelect formControlName="member" style="width: 400px" placeholder="Wybierz przewidywanego przez Ciebie zwycięzce.">
                    <mat-option *ngFor="let member of event.members" [value]="member">{{member.name}}</mat-option>
                    <mat-option [value]=-1>Remis</mat-option>
                </mat-select>
                <mat-error>
                    Zwycięzca jest <strong>wymagany</strong>!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field class="example-full-width" style="width: 400px" *ngSwitchCase="2">            
                <input matInput formControlName="result" style="width: 350px" placeholder="Podaj przewidywany przez Ciebie wynik."/>
                <mat-error *ngIf="betForm.get('result').hasError('pattern') && !betForm.get('result').hasError('required')">
                    Proszę wpisać <strong>poprawny</strong> format wyniku!
                </mat-error>
                <mat-error *ngIf="betForm.get('result').hasError('required')">
                    Wynik jest <strong>wymagany</strong>!
                </mat-error>
            </mat-form-field>
    
        </form>
    
    </div>
    
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelClick()">Anuluj</button>
      <button class="btn btn-success" (click)="onBetClick(event)">Postaw zakład!</button>
    </div>