<h2>Aktualnie dostępne wydarzenia</h2>

<label for="FormControlSelectDiscipline">Wybierz dyscyplinę, z której wydarzenia Cię interesują:</label>
<select class="form-control" id="FormControlSelectDiscipline" [(ngModel)]="chosenDiscipline" (change)="updateList(chosenDiscipline)">
    <option selected hidden>{{chosenDiscipline}}</option>
    <option>Wszystkie</option>
    <option *ngFor="let type of types">{{type.discipline}}</option>
</select>

<div class="card" *ngFor="let event of events">
    <div class="card-header">
        <b>{{event.name}}</b>
    </div>
    <div class="card-body">
        <p class="card-text"><b>Dyscyplina:</b></p>
        <p class="card-text">{{event.type.discipline}}</p>
        <p class="card-text"><b>Uczestnicy:</b></p>
        <p class="card-text" *ngFor="let member of event.members">{{member.name}}</p>
        <p class="card-text"><b>Czas trwania:</b></p>
        <p class="card-text">od {{event.beginDate | date: "dd-MM-yyyy"}} do {{event.endDate | date: "dd-MM-yyyy"}}</p>
        <a class="btn btn-success">Postaw zakład!</a>
    </div>
</div>