<h2>Aktualnie dostępne wydarzenia</h2>

<div class="card" *ngFor="let event of events">
    <div class="card-header">
        <b>{{event.name}}</b>
    </div>
    <div class="card-body">
        <p class="card-text"><b>Dyscyplina:</b></p>
        <p class="card-text">{{event.type.discipline}}</p>
        <p class="card-text"><b>Uczestnicy:</b></p>
        <p class="card-text" *ngFor="let member of event.members">{{member.name}}</p>
        <p class="card-text"><b>Czas trwania:</b></p>
        <p class="card-text">od {{event.beginDate | date: "dd-MM-yyyy"}} do {{event.endDate | date: "dd-MM-yyyy"}}</p>
        <a class="btn btn-success">Postaw zakład!</a>
    </div>
  </div>