<h2 class="caption">Aktualnie dostępne wydarzenia</h2>

<form [formGroup]="filterForm">
    <table class="table-condensed" width="100%">
        <b><label>Filtry:</label></b>
        <tr>
            <th class="notbold" for="FormControlSelectActive">Status:</th>
            <th class="notbold" for="FormControlSelectDiscipline">Dyscyplina:</th>
        </tr>
        <tr>
            <td>
                <mat-select class="form-control" id="FormControlSelectActive" formControlName="chosenStatus">
                    <mat-option value="Wszystkie">Wszystkie</mat-option>
                    <mat-option value="Aktywne">Aktywne</mat-option>
                    <mat-option value="Zakończone">Zakończone</mat-option>
                    <mat-option value="Roztrzygnij">W trakcie roztrzygania</mat-option>
                </mat-select>
            </td>
            <td>
                <mat-select class="form-control" id="FormControlSelectDiscipline" formControlName="chosenDiscipline">
                    <mat-option value="Wszystkie">Wszystkie</mat-option>
                    <mat-option *ngFor="let type of types" [value]="type.discipline">{{type.discipline}}</mat-option>
                </mat-select>
            </td>
        </tr>
    </table>
</form>

<table class="table" width="100%">
    <b><label>Wydarzenia:</label></b>
    <tr *ngIf="empty">
        <td>
            <mat-accordion>
                <mat-expansion-panel [disabled]="true">
                  <mat-expansion-panel-header>
                      <mat-panel-title>
                          <b class="emptyEvents">Brak wydarzeń</b>
                      </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
              </mat-accordion>
        </td>
    </tr>
    <tr *ngFor="let event of events">
      <td width="90%">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>{{event.name}}</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <b>Data rozpoczęcia wydarzenia:</b> {{event.beginDate | date: "dd.MM.yyyy"}} <br>
            <b>Data zakończenia wydarzenia:</b> {{event.endDate | date: "dd.MM.yyyy"}} <br>
            <b>Uczestnicy biorący udział w wydarzeniu:</b>
            <ul>
                <li *ngFor="let member of event.members">{{member.name}}<br></li>
            </ul>
            <div *ngIf="event.active">
                <a class="btn btn-success" style="margin-bottom:15px" (click)="openBetDialog(event, 1)">Postaw zakład ogólny!</a>
                <mat-icon data-toggle="tooltip" data-placement="right" title="Zakład ogólny dotyczy wyboru jedynie zwycięzcy wydarzenia">info</mat-icon>
                <div *ngIf="event.type.result">
                    <a class="btn btn-success" (click)="openBetDialog(event, 2)">Postaw zakład szczegółowy!</a>
                    <mat-icon data-toggle="tooltip" data-placement="right" title="Zakład szczegółowy dotyczy podania dokładnego wyniku wydarzenia">info</mat-icon>
                </div>
                <div *ngIf="!event.type.result">
                    <button class="btn btn-success" disabled>Postaw zakład szczegółowy!</button>
                    <mat-icon data-toggle="tooltip" data-placement="right" title="Zakładu szczegółowego nie można postawić dla wydarzenia z danej dyscypliny">info</mat-icon>
                </div>
            </div>
            <p *ngIf="!event.active">
                <b>Zwycięzca: </b>{{event.winner}}<br>
                <b>Wynik: </b>{{event.score}}<br>
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </td>
    </tr>
</table>