<h3>Panel rejestracyjny</h3>
<div style="width: 600px; margin-left: auto; margin-right: auto">
<form>
  <mat-form-field class="example-full-width" style="width: 600px">
    <input matInput placeholder="Imię" [formControl]="firstNameFormControl"
           [errorStateMatcher]="matcherFirstName">
    <mat-error *ngIf="firstNameFormControl.hasError('pattern') && !firstNameFormControl.hasError('required')">
      Proszę wpisać <strong>poprawne</strong> imię!
    </mat-error>
    <mat-error *ngIf="firstNameFormControl.hasError('required')">
      Imię jest <strong>wymagane</strong>!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" style="width: 600px">
    <input matInput placeholder="Nazwisko" [formControl]="lastNameFormControl"
           [errorStateMatcher]="matcherLastName">
    <mat-error *ngIf="lastNameFormControl.hasError('pattern') && !lastNameFormControl.hasError('required')">
      Proszę wpisać <strong>poprawne</strong> nazwisko!
    </mat-error>
    <mat-error *ngIf="lastNameFormControl.hasError('required')">
      Nazwisko jest <strong>wymagane</strong>!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" style="width: 600px">
    <input matInput placeholder="Login" [formControl]="loginFormControl"
           [errorStateMatcher]="matcherLogin">
    <mat-error *ngIf="loginFormControl.hasError('pattern') && !loginFormControl.hasError('required')">
      Proszę wpisać <strong>poprawne</strong> login (od 3 do 20 znaków, litery i cyfry)!
    </mat-error>
    <mat-error *ngIf="loginFormControl.hasError('required')">
      Login jest <strong>wymagany</strong>!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" style="width: 600px">
    <input matInput placeholder="Adres e-mail" [formControl]="emailFormControl"
           [errorStateMatcher]="matcherEmail">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Proszę wpisać <strong>poprawny</strong> adres e-mail
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Adres e-mail jest <strong>wymagany</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" style="width: 600px">
    <input matInput type="password" placeholder="Hasło" [formControl]="passwordFormControl"
           [errorStateMatcher]="matcherPassword">
    <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required') && !passwordFormControl.hasError('minlength')">
      Hasło musi <strong>być silne</strong> (mała litera, duża, cyfra i znak specyjalny)!
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Hasło jest <strong>wymagane</strong>!
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
      Hasło musi zawierać <strong>minimum 8 znaków i być silne</strong> (mała litera, duża, cyfra i znak specyjalny)!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" style="width: 600px; padding-bottom: 20px">
    <input matInput type="Password" placeholder="Powtórz hasło" [formControl]="confirmPasswordFormControl" pattern="{{passwordFormControl.value}}"
           [errorStateMatcher]="matcherConfirmPassword">
    <mat-error *ngIf="confirmPasswordFormControl.hasError('pattern') && !confirmPasswordFormControl.hasError('required')">
      Podane hasła są <strong>różne</strong> !
    </mat-error>
    <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
      Powtórzenie hasła jest <strong>wymagane</strong>!
    </mat-error>
  </mat-form-field>
  <nav><button class="btn btn-primary btn-md btn-block btn-success" role="button" aria-pressed="true" (click)="loginExist()">Zarejestruj się</button></nav>
</form>
</div>



