.mt-4 {
  margin-top: 5 !important;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 100%;
  margin-top: 20px;
}

table {
  margin: auto;
  margin-bottom: 50px;
  width: 90%;
}

.mat-form-field {
  margin-left: 60px;
  margin-top: 20px;
  font-size: 14px;
  width: 90%;
  background-color: white;
}

.tableFilter{
  margin-top: 115px;
  border-radius: 25px;
  background-color: white;
}

.mat-header-cell{
  font-size: 15px;
  font-weight: bold;
  color: black;
}