.button-row{
  margin-top: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navigationPanel {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  padding: 6px 20px;
  color: white;
  background-color: black;
  border-radius: 1em;
  font-family: "Times New Roman";
}
.mat-accent{
  background-color: rgb(121, 121, 121);
}

table {
  margin: auto;
  margin-bottom: 50px;
  width: 90%;
}

.mat-form-field {
  margin-left: 60px;
  margin-top: 20px;
  font-size: 14px;
  width: 90%;
  background-color: white;
}

.tableFilter{
  margin-top: 115px;
  border-radius: 25px;
  background-color: white;
}

.mat-header-cell{
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.row {
  margin-top: 60px;
}
