.button-row{
  margin-top: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navigationPanel {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  padding: 6px 20px;
  color: white;
  background-color: black;
  border-radius: 1em;
  font-family: "Times New Roman";
}

.mat-accent{
  background-color: rgb(121, 121, 121);
}

.filterTable {
  margin-top: 20px;
  margin-bottom: 20px;
}

.expansionpanel {
  margin-top: 10px;
}

.addBtn {
  border-radius: 1em;
  width: 100%;
  margin-top: 40px;
  background-color: green;
  color: white;
}

.userListTable {
  width: 100%;
}

.editButton{
  color: black;

}

.list {
  position: relative;
}

.editButtons{
  position: absolute;
  right: 50px;
  top:3px;
  z-index: 4;
}

.resolveBtn {
  background: orange;
  color: black;
  width: 100%;
  margin-top: 10px;
}

.saveBtn {
  background: green;
  color: black;
  width: 100%;
  margin-top: 15px;
}

.cancelBtn {
  background: rgb(177, 53, 53);
  color: black;
  width: 100%;
  margin-top: 15px;
}

.notBold {
  font-weight: normal;
}

.filterSelect {
  background: white;
  height: 25px;
}

.winnersBtn {
  background: skyblue;
  color: black;
  width: 100%;
  margin-top: 10px;
}

.closeBtn {
  background: lightslategray;
  color: black;
  width: 100%;
  margin-top: 15px;
}

.winnersTableHeader {
  font-weight: bold;
  color: black;
  font-size: 80%;
}
.emptyEvents{
  color: rgb(27, 27, 27);
}
.right-aligned-header{
  padding-bottom: 10px
}

.tableLabel {
  font-weight: bold; 
}
