<div class="row mt-4">
  <div class="col-sm">
    <nav><a routerLink="/edit-events" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Wydarzenia</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-teams" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Drużyny</a></nav>
  </div>
  <div class="col-sm">
    <nav><a  class="btn btn-lg btn-dark active" role="button" aria-pressed="true">Zawodnicy</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-discipline" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Dyscypliny</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-users" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Użytkownicy</a></nav>
  </div>
</div>

<button mat-button class="matBtn" (click)="openAddDialog()">Dodaj nowego zawodnika</button>

<table class="table table-sm" id="myTable">
  <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Imię i Nazwisko</th>
        <th scope="col">Dyscyplina</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let player of players">
      <th scope="row">{{player.id}}</th>
      <td>{{player.name}}</td>
      <td>{{player.type.discipline}}</td>
      <td><button mat-raised-button color="primary" (click)="openEditDialog(player)">Edytuj</button></td>
      <td><button mat-raised-button color="warn" (click)="openDeleteObjectDialog(player, 3)">Usuń</button></td>
  </tr>
  </tbody>
</table>
