.mt-4 {
    margin-top: 5 !important;
    margin-left: 25px;
  }

.button-row button,
.button-row a {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

.table {
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: aliceblue;
}

.matBtn {
  width: 100%;
  margin-top: 40px;
  background-color: green;
  color: white;
}

.btn {
  width: 100%;
  margin-top: 20px;
}