<div class="row mt-4">
  <div class="col-sm">
    <nav><a routerLink="/edit-events" class="btn btn-lg btn-outline-primary " role="button" aria-pressed="true">Wydarzenia</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-teams" class="btn btn-lg btn-outline-primary " role="button" aria-pressed="true">Drużyny</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-players" class="btn btn-lg btn-outline-primary active" role="button" aria-pressed="true">Zawodnicy</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-users" class="btn btn-lg btn-outline-primary " role="button" aria-pressed="true">Użytkownicy</a></nav>
  </div>
</div>

<button class="btn btn-primary btn-md btn-block btn-success" (click)="openAddDialog()">Dodaj nowego zawodnika</button>

<table class="table table-sm" id="myTable">
  <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Imię i Nazwisko</th>
        <th scope="col">Dyscyplina</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let player of players">
      <th scope="row">{{player.id}}</th>
      <td>{{player.name}}</td>
      <td>{{player.type.discipline}}</td>
      <td><button mat-raised-button color="primary" (click)="openEditDialog(player.id, player.name, player.type.discipline)">Edytuj</button></td>
      <td><button mat-raised-button color="warn" (click)="openDeleteDialog(player.id)">Usuń</button></td>
  </tr>
  </tbody>
</table>
