<h1 mat-dialog-title>Edycja Zawodnika</h1>

<form>
        <div class="form-group">
            <mat-form-field class="example-full-width" style="width: 100%">            
                <input matInput [formControl]="playerNameFormControl" [errorStateMatcher]="matcherPlayerName" style="width: 100%" placeholder="Podaj imię i nazwisko zawodnika"/>
                <mat-error *ngIf="playerNameFormControl.hasError('required')">
                    Imię i nazwisko jest <strong>wymagane</strong>!
                </mat-error>
            </mat-form-field>
        </div>
    
        <div class="form-group">
            <mat-form-field class="example-full-width" style="width: 100%"> 
                <mat-select [formControl]="disciplineFormControl" [errorStateMatcher]="matcherDiscipline" style="width: 100%" placeholder="Wybierz dyscypline">
                    <mat-option *ngFor="let type of types" [value]="type.discipline" >{{type.discipline}}</mat-option>
                </mat-select>
                <mat-error *ngIf="disciplineFormControl.hasError('required')">
                    Dyscyplina jest <strong>wymagana</strong>!
                </mat-error>
            </mat-form-field>
        </div>
    
    </form>


  <button mat-button (click)="onAnulujClick()">Anuluj</button>
  <button mat-flat-button color='primary' (click)="onSaveClick(data)">Zapisz</button>
