<table class="table" width="100%">
  <b><label>Moje zakłady:</label></b>
  <tr *ngFor="let bet of bets">
    <td width="90%">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  <b>{{bet.event.name}}</b>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <b>Status:</b> {{bet.event.active}}<br>
          <b>Obstawiona drużyna lub zawodnik:</b> {{bet.member.name}} <br>
          <b>Dokładny wynik:</b> {{bet.result}}<br>
          <b>Wkład:</b> {{bet.amount}} zł<br>
          <b>Wygrana:</b> {{bet.prize}} zł<br>
        </mat-expansion-panel>
      </mat-accordion>
    </td>
  </tr>
</table>
