<table class="table" width="100%">
  <b><label>Moje zakłady:</label></b>
  <tr *ngFor="let event of events">
    <td width="90%">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  <b>{{event.name}}</b>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <b>Data rozpoczęcia wydarzenia:</b> {{event.beginDate | date: "dd.MM.yyyy"}} <br>
          <b>Data zakończenia wydarzenia:</b> {{event.endDate | date: "dd.MM.yyyy"}} <br>
          <b>Uczestnicy biorący udział w wydarzeniu:</b>
          <ul>
              <li *ngFor="let member of event.members">{{member.name}}<br></li>
          </ul>
          <p *ngIf="event.active">
              <a class="btn btn-success">Postaw zakład!</a>
          </p>
          <p *ngIf="!event.active">
              <b>Zwycięzca: </b>{{event.winner}}<br>
              <b>Wynik: </b>{{event.score}}<br>
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </td>
  </tr>
</table>
