<h2 class="caption">Moje zakłady:</h2>

<form [formGroup]="filterForm">
  <table class="table-condensed" width="100%">
    <b><label>Filtry:</label></b>
    <tr>
      <th class="notbold" for="FormControlSelectActive">Status:</th>
    </tr>
    <tr>
      <td>
        <mat-select class="form-control" id="FormControlSelectActive" formControlName="chosenStatus">
          <mat-option value="Wszystkie">Wszystkie</mat-option>
          <mat-option value="Wygrane">Wygrane</mat-option>
          <mat-option value="Przegrane">Przegrane</mat-option>
          <mat-option value="Trwające">Trwające</mat-option>
        </mat-select>
      </td>
    </tr>
  </table>
</form>

<table class="table" width="100%">
  <b><label>Zakłady:</label></b>
  <tr *ngIf="empty">
      <td width="90%">
        <mat-accordion>
            <mat-expansion-panel [disabled]="true">
              <mat-expansion-panel-header>
                  <mat-panel-title>
                    <b>Brak zakładów</b>
                  </mat-panel-title>
                  <mat-panel-description class="mat-description">
                      <button  class="buttonEvents" mat-button routerLink="/events">Postaw nowy zakład</button>
                  </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>
        </td>
  </tr>
  <tr *ngFor="let bet of bets">
    <td width="90%">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                <b>{{bet.event.name}}</b>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <b>Informacje o wydarzeniu: </b>
            <span>
                <button mat-icon-button class="editButton" (click)="openInfoDialog(bet.event)">
                    <mat-icon>info</mat-icon>
                </button>
            </span>
          </div>
          <div>
            <b>Status:</b>
            <span *ngIf="bet.betResult == null"> w trakcie</span>
            <span *ngIf="bet.betResult == true"> wygrana</span>
            <span *ngIf="bet.betResult == false"> porażka</span>
          </div>
          <b>Obstawiona drużyna lub zawodnik:</b> {{bet.member.name}} <br>
          <div *ngIf="bet.general == false">
            <b>Dokładny wynik:</b> {{bet.result}}<br>
          </div>
          <b>Wkład:</b> {{bet.amount | currency: "PLN "}}<br>
          <div *ngIf="bet.betResult != null">
            <b>Wygrana:</b> {{bet.prize | currency: "PLN "}}<br>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </td>
  </tr>

</table>
