<h2 mat-dialog-title>Informacje o wydarzeniu</h2>
<div mat-dialog-content>
    <b>Nazwa wydarzenia:</b> {{event.name}} <br>
    <b>Data rozpoczęcia wydarzenia:</b> {{event.beginDate | date: "dd.MM.yyyy"}} <br>
    <b>Data zakończenia wydarzenia:</b> {{event.endDate | date: "dd.MM.yyyy"}} <br>
    <b>Dyscyplina:</b> {{event.type.discipline}} <br>
    <b>Drużyny biorące udział w wydarzeniu:</b>
    <ul>
        <li *ngFor="let member of event.members">{{member.name}}<br></li>
    </ul>
    <div *ngIf="event.winner != null">
        <b>Zwycięzca: </b>{{event.winner}}<br>
        <b>Wynik: </b>{{event.score}}<br>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onOkClick()">Zamknij</button>
</div>