/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
    color: black;
    margin: 0; 
    font-family: "Times New Roman";
    background-image: url("assets/img/background.jpg");
    background-repeat: round;
    background-attachment: fixed;
}

.footer {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    height:30px;
    background: #2e2724;
}

.text {
    color: black;
    font-size: 110%;
}

.right-aligned-header > .mat-content {
    justify-content: space-between;
  }
  
.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
  }

html {
    overflow-y: scroll;
}

/* .BTBico {
    content: url(./assets/ico/btb-small.ico);
} */