.mt-4 {
    margin-top: 5 !important;
    margin-left: 25px;
  }

  .alert {
    margin-top: 30px;
  }

  .btn {
    width: 100%;
    margin-top: 20px;
  }

  .BTBimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }