.mt-4 {
  margin-top: 5 !important;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  margin-top: 30px;
}

.btn {
  width: 100%;
  margin-top: 20px;
}

.BTBimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.welcomeText {
  text-align: center;
  margin-top: 50px;
  font-family: fantasy;
  font-size: 300%;
}