<div class="row mt-4">
  <div class="col-sm">
    <nav><a routerLink="/edit-events" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Wydarzenia</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-teams" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Drużyny</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-players" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Zawodnicy</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-discipline" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Dyscypliny</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-users" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Użytkownicy</a></nav>
  </div>
</div>

<div class="alert alert-primary text-center" role="alert">Witam szanownego Pana admina</div>
