<div [ngSwitch]="flag">
    <h1 *ngSwitchCase="0" mat-dialog-title>Dodawanie nowej dyscypliny</h1>
    <h1 *ngSwitchCase="1" mat-dialog-title>Edycja dyscypliny</h1>
</div>

<form [formGroup]="updateForm">

    <mat-form-field style="width: 100%">            
        <input matInput formControlName="discipline" style="width: 350px" placeholder="Podaj nazwę dyscypliny"/>
        <mat-error>
            Nazwa jest <strong>wymagana</strong>!
        </mat-error>
    </mat-form-field>

    <mat-radio-group style="margin-top:10px" formControlName="individual">
        <h6 class="radioHeader">Rodzaj dyscypliny:</h6>
        <mat-error *ngIf="updateForm.get('individual').hasError('required')">
            Rodzaj jest <strong>wymagany</strong>!
        </mat-error>
        <mat-radio-button style="margin-right:15px" value=true>Indywidualna</mat-radio-button>
        <mat-radio-button value=false>Drużynowa</mat-radio-button>
    </mat-radio-group>

    <mat-radio-group style="margin-top:10px" formControlName="result">
        <h6 class="radioHeader">Rodzaj wymaganego wyniku:</h6>
        <mat-error *ngIf="updateForm.get('result').hasError('required')">
            Rodzaj wyniku jest <strong>wymagany</strong>!
        </mat-error>
        <mat-radio-button style="margin-right:15px" value=true>Szczegółowy</mat-radio-button>
        <mat-radio-button value=false>Ogólny</mat-radio-button>
    </mat-radio-group>

    <button mat-raised-button class="saveBtn"  (click)="updateDiscipline()">Zapisz zmiany</button>
    <button mat-raised-button class="cancelBtn" (click)="onCancelClick()" >Anuluj</button>

</form>
