<div class="row mt-4">
  <div class="col-sm">
    <nav><a routerLink="/edit-events" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Wydarzenia</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-teams" class="btn btn-lg btn-dark  " role="button" aria-pressed="true">Drużyny</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-players" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Zawodnicy</a></nav>
  </div>
  <div class="col-sm">
    <nav><a class="btn btn-lg btn-dark active" role="button" aria-pressed="true">Dyscypliny</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-users" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Użytkownicy</a></nav>
  </div>
</div>

<nav><button mat-button class="matBtn" role="button" aria-pressed="true" (click)="openUpdateDisciplineDialog(null, 0)">Dodaj nową dyscyplinę</button></nav>

<table class="table table-sm" id="myTable">
  <thead class="thead-dark">
  <tr>
      <th scope="col">ID</th>
      <th scope="col">Nazwa Dyscypliny</th>
      <th scope="col">Rodzaj</th>
      <th scope="col"></th>
      <th scope="col"></th>
  </tr>
  </thead>
  <tbody  *ngFor="let type of types">
  <tr >
      <th scope="row" >
        {{type.id}}
      </th>
      <td >
        {{type.discipline}}
      </td>
      <td>
        <p *ngIf="type.individual">Indywidualna</p>
        <p *ngIf="!type.individual">Drużynowa</p>
      </td>
      
      <td><button mat-raised-button color="primary" (click)="openUpdateDisciplineDialog(type, 1)">Edytuj</button></td>
      <td><button mat-raised-button color="warn" (click)="openDeleteObjectDialog(type, 1)">Usuń</button></td>
  </tr>
  </tbody>
</table>
