<div class="content">
  <h2>Zaloguj się!</h2>
    <div style="width: 350px; margin-left: auto; margin-right: auto">
      
      <form>
        <mat-form-field style="width: 350px">
          <input matInput placeholder="Login" [(ngModel)]="username" name="username" required>
        </mat-form-field>
        
        <mat-form-field style="width: 350px; padding-bottom: 20px">
          <input matInput type="password" placeholder="Hasło" [(ngModel)]="password" name="password" required>
        </mat-form-field>
        <nav><button class="btn btn-primary btn-md btn-block btn-success" role="button" aria-pressed="true" (click)="login()">Zaloguj się</button></nav>
      </form>

      <h5 style="text-align: center; padding-top: 20px">Nie masz jeszcze konta?<br>
        <a href="/registration">Zarejestruj sie!</a>
      </h5>

    </div>
</div>