<div class="row mt-4">
  <div class="col-sm">
    <nav><a routerLink="/edit-events" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Wydarzenia</a></nav>
  </div>
  <div class="col-sm">
    <nav><a class="btn btn-lg btn-dark active " role="button" aria-pressed="true">Drużyny</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-players" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Zawodnicy</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-discipline" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Dyscypliny</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-users" class="btn btn-lg btn-dark " role="button" aria-pressed="true">Użytkownicy</a></nav>
  </div>
</div>

<nav><button mat-button class="matBtn" role="button" aria-pressed="true" (click)="openUpdateTeamDialog(null, 0)">Dodaj nową drużynę</button></nav>

<table class="table table-sm" id="myTable">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col" onclick="sortTable(0)">Nazwa drużyny</th>
      <th scope="col">Dyscyplina</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody  *ngFor="let team of teams">
    <tr >
      <th scope="row">{{team.id}}</th>
      <td >{{team.name}}</td>
      <td >{{team.type.discipline}}</td>
      <td><button mat-raised-button color="primary" (click)="openUpdateTeamDialog(team, 1)">Edytuj</button></td>
      <td><button mat-raised-button color="warn" (click)="openDeleteObjectDialog(team, 4)">Usuń</button></td>
    </tr>
  </tbody>
</table>
