.mt-4 {
  margin-top: 5 !important;
  margin-left: auto;
  margin-right: auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.addBtn {
  width: 100%;
  margin-top: 40px;
  background-color: green;
  color: white;
}

table {
  margin: auto;
  margin-bottom: 50px;
  width: 90%;
}

.mat-form-field {
  margin-left: 60px;
  margin-top: 20px;
  font-size: 14px;
  width: 90%;
  background-color: white;
}

.tableFilter{
  margin-top: 40px;
  border-radius: 25px;
  background-color: white;
}

.mat-header-cell{
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.row {
  margin-top: 60px;
}
