<div class="button-row">
  <a mat-button class="navigationPanel" routerLink="/edit-events">Wydarzenia</a>
  <a mat-button class="navigationPanel" routerLink="/edit-teams">Drużyny</a>
  <a mat-button class="navigationPanel" routerLink="/edit-players">Zawodnicy</a>
  <a mat-button class="navigationPanel" routerLink="/edit-discipline">Dyscypliny</a>
  <a mat-button class="navigationPanel" routerLink="/edit-users">Użytkownicy</a>
</div>

<div>
  <h6 class="welcomeText">Witam szanownego Pana admina</h6>
  <img class="BTBimage">
</div>
