.mt-4 {
    margin-top: 5 !important;
    margin-left: 25px;
}

.deleteBtn {
    background: red;
    color: black;
    width: 100%;
    margin-top: 10px;
}

.cancelBtn {
    background: lightslategray;
    color: black;
    width: 100%;
    margin-top: 15px;
}