.deleteBtn {
    background: rgb(177, 53, 53);
    color: black;
    width: 100%;
    margin-top: 15px;
}

.cancelBtn {
    background: lightslategray;
    color: black;
    width: 100%;
    margin-top: 10px;
}