<div class="row mt-4">
  <div class="col-sm">
    <nav><a routerLink="/edit-events" class="btn btn-lg btn-outline-primary " role="button" aria-pressed="true">Wydarzenia</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-teams" class="btn btn-lg btn-outline-primary " role="button" aria-pressed="true">Drużyny</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-players" class="btn btn-lg btn-outline-primary active" role="button" aria-pressed="true">Zawodnicy</a></nav>
  </div>
  <div class="col-sm">
    <nav><a routerLink="/edit-users" class="btn btn-lg btn-outline-primary " role="button" aria-pressed="true">Użytkownicy</a></nav>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
      <div class="col-md-12"><h3>Edycja Zawodnika</h3></div>
      <div class="col-md-5">
          <div class="panel panel-default" style="margin-top: 33px">
              <div class="panel-body">
                  <form autocomplete="off" action="#" role="form">
                      <fieldset>
                          <div class="form-group">
                            <label class="validation-message"></label>
                            <input type="text" class="form-control" placeholder="Imie i Nazwisko"/>
                          </div>
                          <div class="form-group">
                            <label class="validation-message"></label>
                            <input type="text" class="form-control" placeholder="Dyscyplina"/>
                          </div>
                          <input type="hidden" />
                          <div class="form-group">
                              <button type="submit" class="btn btn-lg btn-success btn-block">Zapisz zmiany</button>
                              <button type="submit" class="btn btn-lg btn-danger btn-block">Anuluj</button>
                          </div>
                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>