/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
    color: white;
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    background-image: url("assets/img/background.jpg");
    background-repeat: round;
    background-attachment: fixed;
}

.footer {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    margin-left: 15%;
    margin-right: 15%;
    height:30px;
    background: rgba(0, 0, 0, 0.8);
}

.text {
    color: white;
    font-size: 110%;
}