<div class="container">
    <ul>
        <li style="float:left"><img src="assets/img/btb_logo.png"></li>
        <li><nav><a routerLink="/registration">Zarejestruj się</a></nav></li>
        <li><nav><a routerLink="/events">Wydarzenia</a></nav></li>
        <li><nav><a routerLink="/bets">Moje zakłady</a></nav></li>
        <li><nav><a routerLink="/results">Wyniki</a></nav></li>
        <li><nav><a routerLink="/admin-panel">Admin Panel</a></nav></li>
    </ul>

    <router-outlet></router-outlet>
</div>

